/* -----------Sección cartas------------- */
.cards-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 100%;
}

/* card */
.card .container {
    visibility: visible;
    position: absolute;
    top: -40px;
    transition: 0s;
    opacity: 0;
}

.card:hover .container {
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    transition-delay: 500ms;
}

.card {
    background-size: cover!important;
    background-position: center!important;
    display: inline-block;
    min-width: 33%;
    height: 13vw;
    transition: transform 200ms ease-out, border-radius 200ms ease-out;
    margin-bottom: 6px;
    border-radius: 3px;
}
  
.card:hover {
    background: url(/media/video1.mp4), url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Arrestbygningen_ved_r%C3%A5d-_og_domhuset.jpg/320px-Arrestbygningen_ved_r%C3%A5d-_og_domhuset.jpg), skyblue;
    border-radius: 6px 6px 0 0;
    transform: scale(1.4);
    transition-delay:500ms;
    box-shadow: 0px 5px 14px 1px rgba(0,0,0,0.5);
}

.card:hover video {
    width: 100%;
    border-radius: 6px 6px 0 0;
}

/* MIENTRAAS */
.card:hover img {
    width: 100%;
    
    border-radius: 6px 6px 0 0;
}

.card:hover p {
    position: relative;
    display: block;
    background: #191919;
    box-shadow: 0px 5px 14px 1px rgba(0,0,0,0.5);
    color: #fff;
    width: auto;
    height: fit-content;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 0 0 6px 6px;
    top: -5px;
    font-size: 1vw;
} 


/* card one */
.card.one { background: url(/media/CD_01_c13.jpg), skyblue; }
.card.two { background: url(/media/CD_02_teleton.jpg), skyblue; }
.card.three { background: url(/media/CD_03_americo.jpg), skyblue; }
.card.four { background: url(/media/CD_04_magoLipe.jpg), skyblue; }
.card.five { background: url(/media/CD_05_nona.jpg), skyblue; }
.card.six { background: url(/media/CD_06_em.jpg), skyblue; }


