/* -----------Sección cartas------------- */
.cards-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 100%;
}

/* card */
.card .container {
    visibility: visible;
    position: absolute;
    top: -40px;
    transition: 0s;
    opacity: 0;
}

.card:hover .container {
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    transition-delay: 500ms;
}

.card {
    background-size: cover!important;
    background-position: center!important;
    display: inline-block;
    min-width: 33%;
    height: 13vw;
    transition: transform 200ms ease-out, border-radius 200ms ease-out;
    margin-bottom: 6px;
    border-radius: 3px;
}
  
.card:hover {
    background: url(/media/video1.mp4), url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Arrestbygningen_ved_r%C3%A5d-_og_domhuset.jpg/320px-Arrestbygningen_ved_r%C3%A5d-_og_domhuset.jpg), skyblue;
    border-radius: 6px 6px 0 0;
    transform: scale(1.4);
    transition-delay:500ms;
    box-shadow: 0px 5px 14px 1px rgba(0,0,0,0.5);
}

.card:hover video {
    width: 100%;
    border-radius: 6px 6px 0 0;
}

/* MIENTRAAS */
.card:hover img {
    width: 100%;
    
    border-radius: 6px 6px 0 0;
}

.card:hover p {
    position: relative;
    display: block;
    background: #191919;
    box-shadow: 0px 5px 14px 1px rgba(0,0,0,0.5);
    color: #fff;
    width: auto;
    height: fit-content;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 0 0 6px 6px;
    top: -5px;
    font-size: 1vw;
} 


/* Section one */
.creative-designs .card.one { background: url(/media/CD_01_c13.jpg), skyblue; }
.creative-designs .card.two { background: url(/media/CD_02_teleton.jpg), skyblue; }
.creative-designs .card.three { background: url(/media/CD_03_americo.jpg), skyblue; }
.creative-designs .card.four { background: url(/media/CD_04_magoLipe.jpg), skyblue; }
.creative-designs .card.five { background: url(/media/CD_05_nona.jpg), skyblue; }
.creative-designs .card.six { background: url(/media/CD_06_em.jpg), skyblue; }


/* Section two */
.music-transcription .card.one { background: url(/media/MusicTranscription/01_thevoice.jpg), skyblue; }
.music-transcription .card.two { background: url(/media/MusicTranscription/02_bigband.jpg), skyblue; }
.music-transcription .card.three { background: url(/media/MusicTranscription/03_LuisJara.jpg), skyblue; }

/* Section three */
.session-musician .card.one { background: url(/media/SessionMusician/01.jpg), skyblue; }
.session-musician .card.two { background: url(/media/SessionMusician/02.jpg), skyblue; }
.session-musician .card.three { background: url(/media/SessionMusician/03.jpg), skyblue; }
.session-musician .card.four { background: url(/media/SessionMusician/04.jpg), skyblue; }
.session-musician .card.five { background: url(/media/SessionMusician/05.jpg), skyblue; }
.session-musician .card.six { background: url(/media/SessionMusician/06.jpg), skyblue; }

