/* CELULAR */
@media (max-width: 1000px) {
    main, footer, div, img, .wrapper, .contact-wrapper {
        display: none;
    }

    .celular {
        width: auto;
        height: 100vh;
        display: block;
        background-image: url(/media/In_construction.png);
        background: url("/media/In_construction.png") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}




