.footer-wrapper {
    padding: 50px 20%;
    padding-bottom: 40px;
}

footer :is(h2,p,a) {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-shadow: none;
    color:#7e7e7e;
}

footer a {
    display: block;
    text-decoration: none;
    color:#a8a8a8;
}

footer a:hover {
    color: white;
}

.footer-wrapper h2 {
    color: rgb(56, 128, 187);
}

.footer-principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 25px;
}



.footer-contacto {
    display: flex;
    flex-direction: column;
}

.footer-info {
    display: flex;
    flex-direction: column;
}

.footer-developer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
}

.footer-developer h2{
    margin-bottom: 0;
    margin-right: 10px;
    color: #a8a8a8;
}

.footer-developer p {
    cursor: pointer;
    color: #a8a8a8;
}