body {
  margin: 0px;
  padding-top: 80px;
  font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
}

.header__buttons {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px 7%;
}

.content__info {
  width: 30%;
}

.content__info-title {
  font-size: 42px;
  font-weight: 400;
  letter-spacing: -.5px;
  line-height: 60px;
  margin: 10px 0px;
}

.content__info-p {
  color: #5f6368;
  font-family: Roboto, Arial,Helvetica,sans-serif;
  font-size: 20px;
  line-height: 1.5;
  padding: 0px 0px;
}

.content__info__buttons {
  display: flex;
  flex-direction: column;
}

.content__info-button {
  margin: 10px 20px 10px 0px;
}

/* IMAGEN */
.content__info__for_img {
  width: 60%;
  background-color: blue;
}

.content__info-img {
  display: block;
  width: 100%;
  height: auto;
}

/* FIN IMAGEN */
.btn {
  height: 55px;
  padding: 9px 25px;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 500;
  height: 48px;
}

.buttons-correo {
  background-color: white;
  color: #176282;
  border: 2px solid #EAEAEA;
}

.buttons-llamar {
  background-color: #176282;
  width: 220px;
}

/* TABLET */
@media only screen and (max-width: 1200px) {

body {
  background-color: rgba(0,0,0,0.1);
  padding-top: 0px;
}

.content {
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  margin: 100px 5% 0px 5%;
}
.content :nth-child(1) { 
  order: 2; 
}
.content :nth-child(2) { 
  order: 1; 
}

.content__info {
  width: auto;
  padding: 25px 25px;
  background-color: white;
}

.content__info__for_img {
  width: 100%;
}

.content__info-img {
  content: url("/media/Foto_1_celular.png");
  background-color: red;
}

.content__info__buttons {
  display: flex;
  flex-direction: row;
}

.content__info-button {
  margin: 0px;
}


.content__info-title {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -.5px;
  line-height: 0;
  margin: 10px 0px 25px 0px;
}

.content__info-p {
  color: #5f6368;
  font-family: Roboto, Arial,Helvetica,sans-serif;
  font-size: 13px;
  line-height: 1.7;
  padding: 0px 0px;
  text-align: justify;
}

.buttons-correo {
  background-color: white;
  color: #176282;
  border: 2px solid #EAEAEA;
}

.buttons-llamar {
  background-color: #176282;
  width: 100px;
}

/* CELULAR */
@media only screen and (max-width: 600px) {

  .header__buttons {
    display: none;
  }
}